
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSNJ Streaming Dashboard</title>
</head>
<body>
    OBS Commands</br>
    <table border="1">
        <tr>
            <td><a href='/obs'>OBS Info</a></td>
            <td><a href='/setOBSSettingsWithPersistentKey'>Set OBS persistent key</a></td>
        </tr>
        <tr>
            <td>Camera: </td>
            <td><a href='/pointToPodium'>Tabya (Podium)</a> | | |  <a href='/pointToStage'>Stage</a></td>            
        </tr>
        <tr>
            <td>Recording: </td>
            <td><a href='/startOBSRecording'>Start</a> | | | <a href='/stopOBSRecording'>Stop</a></td>            
        </tr>
    </table>
    Streaming Commands</br>
    <table border="1">
        <tr>
            <td>Facebook: </td>
            <td><a href='/startFacebookStreaming'>Start</a> | | |  <a href='/stopStreaming'>Stop</a></td>
        </tr>
        <tr ></tr>
        <tr>
            <td>Youtube: </td>
            <td><a href='/startYoutubeStreaming'>Start</a> | | |  <a href='/stopStreaming'>Stop</a></td>
        </tr>
    </table>

</br>
<a href='/startOBSStreaming'>Start OBS streaming (settings are not changed)</a></br>
<br/><br/>
Pre-recorded Commands</br>
<a href='/streamPreRecordedAsaDiWarToFacebook'>Pre-recorded Asa Di War to Facebook</a></br>
<br/><br/>

<IFRAME src="/video" width="400" height="500"
scrolling="auto" frameborder="1">
    [Your user agent does not support frames or is currently configured
    not to display frames. However, you may visit
    <A href="/video">the related document.</A>]
</IFRAME>


<a href='/privacy'>Privacy</a></br>
<a href='/about'>About</a></br>
<a href='/video'>Video</a></br>
</body>
</html>

