OBS Commands</br>
<a href='/obs'>OBS Info</a></br>
<a href='/setOBSSettingsWithPersistentKey'>Set OBS persistent key</a></br>
<a href='/startOBSStreaming'>Start OBS streaming (settings are not changed)</a></br>
<a href='/pointToPodium'>Camera to Tabya (Podium)</a></br>
<a href='/pointToStage'>Camera to stage</a></br>
<a href='/startOBSRecording'>Start Recording</a></br>
<a href='/stopOBSRecording'>STOP Recording</a></br>


<br/><br/><br/><br/>
Facebook Commands</br>
<b>Be careful with the commands below</b><br/>
<a href='/startFacebookStreaming'>Start Facebook Streaming</a></br>
<a href='/stopStreaming'>Stop Streaming</a></br>

<br/><br/><br/><br/>
Youtube Commands</br>
<b>Be careful with the commands below</b><br/>
<a href='/startYoutubeStreaming'>Start Youtube Streaming</a></br>
<a href='/stopStreaming'>Stop Streaming</a></br>

<br/><br/><br/><br/>
Pre-recorded Commands</br>
<a href='/streamPreRecordedAsaDiWarToFacebook'>Pre-recorded Asa Di War to Facebook</a></br>

<br/><br/><br/><br/>
<a href='/privacy'>Privacy</a></br>
<a href='/about'>About</a></br>
<a href='/video'>Video</a></br>
